
body{
 background-image: url("fons2.jpg");
}

.fons{
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 165px;
  position: fixed;
  overflow: hidden;
  margin-top: -7.5px;
  background: rgba(0, 0, 0, 0.5);
}


.title{
  margin-left: 140px;
  width: 300px;
  height: 65px;
  background: rgba(230, 255, 255, 0.8);
  box-shadow: 10px 10px 5px #b3ffff;
  opacity: 0.8;
  border-left: 6px solid 	#75CDF5;
  text-decoration: none;
  font-size: 15px;
  font: inherit;
  vertical-align: baseline;
}

.steampunk_content{
  margin-left: 140px;
  margin-top: 30px;
  width: 65%;
  height: 650px;
  box-shadow: 10px 10px 5px #b3ffff;
  background: rgba(230, 255, 255, 0.8);
  border-left: 6px solid 	#75CDF5;
  overflow: scroll;
  color: black;
  text-decoration: none;
  font-size: 1.1em;
}

.img_steampunk{
  width: 78%;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 5px;
  transition-duration: 1s;
  opacity: 1;
}

.img_steampunk:hover {
  width: 95%;
  border: 5px solid #b3ffff;
  transition-duration: 1s;
}


.img_footer{
   height: 72px;
   margin-top: 1px;
   margin-left: 20px;
}

.img_footer:hover{
   height: 100px;
   margin-top: -50px;
   margin-left: 20px;
}

.icone{
  width: 70px;
  margin-left: -60px;
}

.steampunk_title{
  color: black;
  text-decoration: none;
  font-size: 2.5em;
  opacity: 0.7;

}

.footer_content {
  height: 9%;
  position: absolute;
  background-color: #A7EAFB;
  right: 0;
  bottom: 0;
  left: 165px;
  color:black;
  text-align: center;
  opacity: 0.6;
  border-top: 5px solid #75CDF5;
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font: inherit;
    vertical-align: baseline;
}

.menu {
    width: 165px;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
}

.menu:hover {
    width: 165px;
    height: 100%;
    background-color:#5C6675;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
}

.menu a {
    display: inline-block;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.menu a.social {
    display: block;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 29px 0;
    text-align: center;
}

.menu hr {
    margin: 0;
}

.menu .action,
.menu hr,
.menu a.to-main {
    display:inline-block;
    margin-left: 112px;
    text-align: left;
}

.menu a.to-main {
    margin-top: 200px;
    margin-bottom: 95px;
}

.menu .action__about {
    margin-bottom: 87px;
    margin-top: 31px;
}


ul {
    width: 60%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: 0 auto;

}

li {
    float: left;
    position:relative;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

@media screen and (max-width: 1000px) {
  .title{
    margin-left: 90px;
    width: 300px;
    height: 65px;
    background: rgba(230, 255, 255, 0.8);
    box-shadow: 10px 10px 5px #b3ffff;
    opacity: 0.8;
    border-left: 6px solid 	#75CDF5;
    text-decoration: none;
    font-size: 15px;
    font: inherit;
    vertical-align: baseline;
  }

  .steampunk_content{
    margin-left: 90px;
    margin-top: 30px;
    width: 65%;
    height: 650px;
    box-shadow: 10px 10px 5px #b3ffff;
    background: rgba(230, 255, 255, 0.8);
    border-left: 6px solid 	#75CDF5;
    overflow: scroll;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 900px) {
  .title{
    margin-left: 30px;
    width: 300px;
    height: 65px;
    background: rgba(230, 255, 255, 0.8);
    box-shadow: 10px 10px 5px #b3ffff;
    opacity: 0.8;
    border-left: 6px solid 	#75CDF5;
    text-decoration: none;
    font-size: 15px;
    font: inherit;
    vertical-align: baseline;
  }

  .steampunk_content{
    margin-left: 30px;
    margin-top: 30px;
    width: 65%;
    height: 650px;
    box-shadow: 10px 10px 5px #b3ffff;
    background: rgba(230, 255, 255, 0.8);
    border-left: 6px solid 	#75CDF5;
    overflow: scroll;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
  }
}



@media screen and (max-height: 900px) {
  .title{
    margin-left: 30px;
    width: 300px;
    height: 65px;
    background: rgba(230, 255, 255, 0.8);
    box-shadow: 10px 10px 5px #b3ffff;
    opacity: 0.8;
    border-left: 6px solid 	#75CDF5;
    text-decoration: none;
    font-size: 15px;
    font: inherit;
    vertical-align: baseline;
  }

  .steampunk_content{
    margin-left: 30px;
    margin-top: 30px;
    width: 65%;
    height: 520px;
    box-shadow: 10px 10px 5px #b3ffff;
    background: rgba(230, 255, 255, 0.8);
    border-left: 6px solid 	#75CDF5;
    overflow: scroll;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
  }
}

@media screen and (max-height: 700px) {

  .steampunk_content{
    margin-left: 30px;
    margin-top: 30px;
    width: 65%;
    height: 420px;
    box-shadow: 10px 10px 5px #b3ffff;
    background: rgba(230, 255, 255, 0.8);
    border-left: 6px solid 	#75CDF5;
    overflow: scroll;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
  }
}
