


body {
  background-image: url("fons.jpg");
}

header {
  text-align: center;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background:black;
}

.fullscreen-bg__video {
    position: absolute;
    top: -570;
    width: 2000px;
    height: 2000px;
}

.imatge{
  width: 80%;
}

#imgarticle{
  width: 50%;
}

aside{
  margin: 0 auto;
  width: 79.5%;
  border-style: solid;
  border-width: 2px 4px 4px 4px;
  background-color: lightgrey;
  text-align: center;
}



article{
    margin: 0 auto;
    width: 79.5%;
    border-style: solid;
    border-width: 2px 4px 4px 4px;
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 3%;
}

footer{
   margin: 0 auto;
   padding-bottom:5%;
   position:relative;
   background:#999;
   bottom: -1px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 41%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div.menuIntern{
  border-style: solid;
  background-color: lightgrey;
  width: 8%;
  height: 12.5%;
  position: fixed;
}

div.text{
   padding-top: 2%;
   width: 80%;
   margin: 0 auto;
   text-align: center;
}

div.anunci{
  padding-top: 2%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#ocas{
  margin: 0 auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;


}


a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font: inherit;
    vertical-align: baseline;
}
.menu {
    width: 265px;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
}

.menu:hover {
    width: 265px;
    height: 100%;
    background-color: black;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
}

.menu a {
    display: inline-block;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.menu a.social {
    display: block;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 29px 0;
    text-align: center;
}

.menu hr {
    margin: 0;
}

.menu .action,
.menu hr,
.menu a.to-main {
    display:inline-block;
    margin-left: 112px;
    text-align: left;
}

.menu a.to-main {
    margin-top: 102px;
    margin-bottom: 95px;
}

.menu .action__about {
    margin-bottom: 87px;
    margin-top: 31px;
}

.menu hr {
    border-color: #6c6d71;
    width: 42px;
}

ul {
    width: 60%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: 0 auto;

}

li {
    float: left;
    position:relative;
}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

@media screen and (max-width: 1000px) {
  .fullscreen-bg {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      background:black;
  }

  .fullscreen-bg__video {
      position: absolute;
      top: -500px;
      left: -510px;
      width: 2000px;
      height: 2000px;
  }
}


@media screen and (max-width: 600px) {
  .fullscreen-bg {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      background:black;
  }

  .fullscreen-bg__video {
      position: absolute;
      top: -500px;
      left: -510px;
      width: 2000px;
      height: 2000px;
  }

  @media screen and (max-width: 400px) {
    .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        background:black;
    }

    .fullscreen-bg__video {
        position: absolute;
        top: -500px;
        left: -670px;
        width: 2000px;
        height: 2000px;
    }
}
